<main>
  <!-- Page content-->
  <div class="container-fluid">
    <h1 class="mt-4">Welcome to Dashboard</h1>
    <p>
      Click
      <code>Users Master</code>
      to manage users data
    </p>
  </div>
</main>
