<link rel="stylesheet" type="text/css" href="/css/main-page.css" />
<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<main>
  <!-- section-1 start -->
  <section id="section-1">
    <!-- body section-1 -->
    <div class="banner">
      <!-- bar navigasi -->
      <div class="bar">
        <!-- logo di kiri -->
        <div class="logo">
          <a href="#section-1">LOGO</a>
        </div>

        <!-- menu di tengah -->
        <div class="menu">
          <div class="box-menu">
            <a href="#section-1">HOME</a>
          </div>
          <div class="box-menu">
            <a href="#">WORK</a>
          </div>
          <div class="box-menu">
            <a href="#">CONTACT</a>
          </div>
          <div class="box-menu">
            <a href="#section-2">ABOUT ME</a>
          </div>
        </div>

        <!-- user-action di kanan -->
        <% if (typeof user != 'undefined') { %>
        <div class="user-action">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              style="background-color: transparent !important; border: none; outline: none !important"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <%= user.firstName + ' ' + user.lastName %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="" style="padding: 10px; display: inline-block">
                <a
                  id="profile"
                  class="dropdown-item px-1"
                  href="/user/profile"
                  style="color: black; margin: 0"
                  >Profile</a
                >
              </li>
              <li style="padding: 10px; display: inline-block">
                <a id="logout" class="dropdown-item px-1" href="/user/logout" style="color: black; margin: 0"
                  >Log Out</a
                >
              </li>
            </ul>
          </div>
        </div>
        <% } else {%>
        <div class="user-action">
          <a href="/user/login">LOGIN</a>
          <a href="/user/register">REGISTER</a>
        </div>
        <% } %>
      </div>

      

      <div class="wrapper">
        <h1>PLAY TRADITIONAL GAME</h1>
        <h2>Experience New Traditional Game Play</h2>
        <a href="/" data-bs-toggle="modal" data-bs-target="#chooseMode">PLAY NOW</a>
      </div>

      <div class="modal fade" id="chooseMode" aria-hidden="true" aria-labelledby="chooseModeToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="chooseModeToggleLabel">Choose Mode</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <a href="/games" type="button" class="btn btn-primary">Single Mode</a>
              <a href="" type="button" class="btn btn-primary" data-bs-target="#versusMode" data-bs-toggle="modal" data-bs-dismiss="modal">Versus Mode</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="versusMode" aria-hidden="true" aria-labelledby="versusModeToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <a href="" type="button" class="btn btn-primary" data-bs-target="#chooseMode" data-bs-toggle="modal" data-bs-dismiss="modal">Back</a>
              <h5 class="modal-title" id="versusModeToggleLabel2">Versus Mode</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="hidden" name="room" id="room" value="<%= room %>">
              <a href="/games/waiting-room/<%= room %>" type="button" class="btn btn-primary">Create Room</a>
              <a href="" type="button" class="btn btn-primary" data-bs-target="#roomCode" data-bs-toggle="modal" data-bs-dismiss="modal">Join Room</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="roomCode" aria-hidden="true" aria-labelledby="roomCodeToggleLabel3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <a href="" type="button" class="btn btn-primary" data-bs-target="#versusMode" data-bs-toggle="modal" data-bs-dismiss="modal">Back</a>
              <h5 class="modal-title" id="roomCodeToggleLabel2">Join Friend</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/games/join" method="POST">
                Input your room code
                <input type="text" name="roomNumber" id="roomNumber">
                <button type="submit" class="btn btn-primary">Join</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Online Users -->
      <% if (typeof user != 'undefined') { %>
        <div class="online-box">
          <p>
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
              Online Friends
            </button>
          </p>
          <div style="">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card card-body" style="width: 300px;">
                <div class="header-online d-flex align-items-center ">
                  <div class="rounded me-2 "></div>
                  <h5 class="mb-1">Online</h5>
                </div>
                <ul class="list-group list-group-flush">
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% } %>

      <!-- tombol story di bawah -->
      <div class="story-text">
        <a href="#section-2">The Story</a>
      </div>

      <div class="arrow">
        <a href="#section-2"><img src="image/scroll-down.svg" /></a>
      </div>
    </div>
  </section>
  <!-- end of section-1 -->

  <!-- section-2 start -->
  <section id="section-2">
    <div class="section-2-wrapper">
      <div class="section-2-top">
        <p>What's so special?</p>
      </div>
      <div class="section-2-bot">
        <div class="section-2-bot-text">
          <p>THE GAMES</p>
        </div>

        <div class="img">
          <a href="#"><img src="image/scroll-down.svg" id="slide-left" class="slide" /></a>
          <img src="image/rockpaperstrategy-1600.jpg" />
          <a href="#"><img src="image/scroll-down.svg" id="slide-right" class="slide" /></a>
        </div>
      </div>
    </div>
  </section>

  <!-- end of section-2 -->

  <!-- section-3 start -->
  <section id="section-3">
    <div class="wrapper-black">
      <div class="section-3-wrapper">
        <div class="section-2-title">
          <div class="title-1">
            <p>What's so special?</p>
          </div>

          <div class="title-2">
            <p>FEATURES</p>
          </div>
        </div>

        <div class="section-2-content">
          <div>
            <div class="content">
              <div class="circle"></div>
              <div class="title-content">
                <p>TRADITIONAL GAMES</p>
              </div>
            </div>
            <div class="text-content">
              <p>If you miss your childhood, we provide many traditional games here!</p>
            </div>
          </div>

          <div>
            <div class="content">
              <div class="circle-null"></div>
              <div class="title-content">
                <p>GAME SUIT</p>
              </div>
            </div>
            <div class="text-content">
              <p></p>
            </div>
          </div>
          <div>
            <div class="content">
              <div class="circle-null"></div>
              <div class="title-content">
                <p>TBD</p>
              </div>
            </div>
            <div class="text-content">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of section 3 -->

  <!-- section-4 start -->
  <section id="section-4">
    <div class="wrapper-black">
      <div class="section-4-wrapper">
        <div class="section-4-title">
          <p>SYSTEM REQUIREMENTS</p>
        </div>

        <div class="table">
          <table style="width: 100%">
            <tr>
              <td class="table-square">
                <div class="table-title">
                  <p>OS:</p>
                </div>
                <div class="table-content">
                  <p>
                    Windows 7 64-bit only
                    <br />
                    (No OSX support at this time)
                  </p>
                </div>
              </td>
              <td class="table-square">
                <div class="table-title">
                  <p>PROCESSOR:</p>
                </div>
                <div class="table-content">
                  <p>
                    Intel Core 2 Duo @ 2.4 GHz or
                    <br />
                    AMD Athlon X2 @ 2.8 GHz
                  </p>
                </div>
              </td>
            </tr>

            <tr>
              <td class="table-square">
                <div class="table-title">
                  <p>MEMORY:</p>
                </div>
                <div class="table-content">
                  <p>4 GB RAM</p>
                </div>
              </td>
              <td class="table-square">
                <div class="table-title">
                  <p>STORAGE:</p>
                </div>
                <div class="table-content">
                  <p>8 GB available space</p>
                </div>
              </td>
            </tr>
          </table>

          <table style="width: 100%" class="table-2">
            <tr>
              <td class="table-square">
                <div class="table-title">
                  <p>GRAPHICS:</p>
                </div>
                <div class="table-content">
                  <p>
                    NVIDIA GeForce GTX 660 2GB or <br />
                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                  </p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- end of section-4 -->

  <!-- section-5 start -->

  <section id="section-5">
    <div class="section-5-wrapper">
      <div class="wrapper-left">
        <div class="top-score">
          <p>TOP SCORES</p>
        </div>
        <div class="score-info">
          <p>This top score from various games provided on this platform</p>
        </div>

        <div class="button-more">
          <a href="#">see more</a>
        </div>
      </div>

      <div class="wrapper-right">
        <!-- photo-1 -->
        <section id="box-1" class="box">
          <div class="box-top">
            <div class="box-top-flex">
              <div class="circle-photo">
                <img src="image/photo-1.jpg" />
              </div>
              <div class="name-box">
                <div class="name">Evan Lahti</div>
                <div class="profession">PC Gamer</div>
              </div>
            </div>
            <div class="img-twitter">
              <img src="image/twitter.svg" />
            </div>
          </div>
          <div class="box-bot">
            <div class="box-bot-flex">
              <div class="review">“One of my gaming highlights of the year.”</div>
              <div class="date">October 18, 2018</div>
            </div>
          </div>
        </section>

        <!-- photo-2 -->
        <section id="box-2" class="box">
          <div class="box-top">
            <div class="box-top-flex">
              <div class="circle-photo">
                <img src="image/photo-2.jpg" />
              </div>
              <div class="name-box">
                <div class="name">Jada Griffin</div>
                <div class="profession">Nerdreactor</div>
              </div>
            </div>
            <div class="img-twitter">
              <img src="image/twitter.svg" />
            </div>
          </div>
          <div class="box-bot">
            <div class="box-bot-flex">
              <div class="review">“The next big thing in the world of streaming and survival games.”</div>
              <div class="date">December 21, 2018</div>
            </div>
          </div>
        </section>

        <!-- photo-3 -->
        <section id="box-1" class="box">
          <div class="box-top">
            <div class="box-top-flex">
              <div class="circle-photo">
                <img src="image/photo-3.jpg" />
              </div>
              <div class="name-box">
                <div class="name">Jada Griffin</div>
                <div class="profession">Nerdreactor</div>
              </div>
            </div>
            <div class="img-twitter">
              <img src="image/twitter.svg" />
            </div>
          </div>
          <div class="box-bot">
            <div class="box-bot-flex">
              <div class="review">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</div>
              <div class="date">December 24, 2018</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- end of section-5 -->

  <!-- section-6 start -->
  <section id="section-6">
    <div class="section-6-wrapper">
      <div class="img">
        <img src="image/image_newsletter.png" />
      </div>

      <div class="wrapper-left-6">
        <!-- Kosong -->
      </div>

      <div class="wrapper-for-wrapper">
        <div class="wrapper-right-6">
          <div class="text-1">
            <p>Want to stay in touch?</p>
          </div>

          <div class="text-2">
            <p>NEWSLETTER SUBSCRIBE</p>
          </div>

          <div class="text-3">
            <p>
              In order to start receiving our news, all you have to do is enter your email address. Everything else will
              be taken care of by us. We will send you emails containing information about game. We don’t spam.
            </p>
          </div>

          <div class="subscribe-container">
            <div class="input">
              <input type="text" placeholder="Enter your email address" />
            </div>

            <div class="subscribe-button">
              <a href="#">Subscribe now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="top-container">
        <div class="menu">
          <a href="#section-1">MAIN</a>
          <a href="#section-2">ABOUT</a>
          <a href="#section-3">GAME FEATURES</a>
          <a href="#section-4">SYSTEM REQUIREMENTS</a>
          <a href="#section-5">QUOTES</a>
        </div>

        <div class="socmed">
          <a href="#"><img src="image/facebook.svg" /></a>
          <a href=""><img src="image/twitter.svg" /></a>
          <a href=""><img src="image/youtube.svg" /></a>
          <a href=""><img src="image/twitch.svg" /></a>
        </div>
      </div>

      <div class="line"></div>

      <div class="bot-container">
        <div class="copyright">
          <p>© 2018 Your Games, Inc. All Rights Reserved</p>
        </div>

        <div class="menu-2">
          <a href="#">PRIVACY POLICY</a>
          <a href="#">TERMS OF SERVICES</a>
          <a href="#">CODE OF CONDUCT</a>
        </div>
      </div>
    </div>
  </footer>
</main>

<script src="js/script.js"></script>
